.git
.gitignore
.env
.env.local
.env.testing
node_modules
vendor
storage/logs/*
storage/cache/*
bootstrap/cache/*
.DS_Store
*.log
*.swp
*.swo
*.swn
.idea
.vscode
dist
build
.turbo
docker-compose.override.yml
